
    @import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
{
    margin: 2;
    padding: 0;
}
body{
    font-family: 'Luxurious Script', cursive;
    background-color: aquamarine;
    font-size: x-large;
}
u,h2{
    color: rosybrown;
}
h3{
    color: blue;
}
h3{
    color: black;
    font-weight: 100px;
}
img{
    height:100px;
    width:200px ;
}
p{
    padding: 50px;
}